<span></span>
<div class="button-row">
  <button mat-raised-button color="primary" routerLink="/newworkitem">Pend
    <mat-icon class="toolbar-icon">pause</mat-icon>
  </button>
  <button mat-raised-button color="primary" routerLink="/newworkitem">Complete Draw Next
    <mat-icon class="toolbar-icon">skip_next</mat-icon>
  </button>
  <button mat-raised-button color="primary" routerLink="/dashboard">Complete End
    <mat-icon class="toolbar-icon">stop</mat-icon>
  </button>

</div>
<mat-tab-group>
  <mat-tab label="Overview">
    <div class="example-container">
      <p>
        <b>Workitem ID:</b>&#9;123454</p>
      <p>
        <b>Claim ID:</b>&#9;345345345</p>
      <p>
        <b>Submitted Date:</b>&#9;345345345</p>
      <p>
        <b>Due Date:</b>&#9;345345345</p>
      <p>
        <b>Status:</b>&#9;345345345</p>
      <p>
        <b>Queue:</b>&#9;345345345</p>
      <p>
        <b>Priority:</b>&#9;345345345</p>
    </div>
  </mat-tab>
  <!-- <mat-tab label="Friendly"> Friendly </mat-tab> -->
  <mat-tab label="EDI X12">
    <div class="ngx-codemirror ">
      <ngx-codemirror [options]="options" [(ngModel)]="defaults[mode]" [disabled]="readOnly" [autoFocus]="true" (ngModelChange)="handleChange($event)"
        (cursorActivity)="cursorMoved()" #editor></ngx-codemirror>
    </div>
    <!-- <div class="ngx-codemirror mb-2">
      <ngx-codemirror [options]="options" [ngModel]="defaults[mode]" [disabled]="readOnly" [autoFocus]="true" (ngModelChange)="handleChange($event)"></ngx-codemirror>
    </div> -->
  </mat-tab>
  <mat-tab label="Errors">
  </mat-tab>
</mat-tab-group>