.button-row button,
.button-row a {
  margin-right: 8px;
}
.button-row {
  padding: 10px;
  text-align: center;
}
.example-container {
  display: flex;
  flex-direction: column;
}
.example-container > * {
  width: 100%;
}

.dashboard-card-content {
  text-align: center;
  overflow: auto;
}
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.test-codeMirror-highlight {
  background: 'yellow';
}
