.grid-container {
  margin: 20px;
  overflow: auto;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;  
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  overflow: hidden;
  height: 100%;
}

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}

.myGridList {
  height: 100%;
}